<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854593807866-d7bcprtjmjobgflk1s0vg4lreftoksjc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854593807866-d7bcprtjmjobgflk1s0vg4lreftoksjc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>854593807866-396p50udqqn6cu1st6tfhhdtj06g987l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyARXANaZPWciJX7cNCwzG0_4XFDe0ufx8A</string>
	<key>GCM_SENDER_ID</key>
	<string>854593807866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adswiztest.ios</string>
	<key>PROJECT_ID</key>
	<string>adswiztest-23f41</string>
	<key>STORAGE_BUCKET</key>
	<string>adswiztest-23f41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854593807866:ios:0f400cc7ae982e9fc8f043</string>
</dict>
</plist>